html {
  box-sizing: border-box;
  height: 100%;
  font-size: 14px; // base font-size
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background: var(--white-color);
  font: var(--base-font-size)/var(--base-line-height) var(--base-font-family);
  min-width: var(--base-min-width);
  overflow-y: scroll;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:none;
  height: 100%;
  -webkit-font-smoothing:antialiased;
}

a {
  text-decoration: none;
  color: var(--base-link-color);
  
  &:hover {
    text-decoration: none;
    color: var(--base-link-color-hover);
  }
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  line-height: var(--base-line-height);
  margin: 0 0 1rem;
  font-weight: 500;
  color: var(--title-color);
}

h1,.h1 {
  font-size: var(--heading-1);
}

h2,.h2 {
  font-size: var(--heading-2);
}

h3,.h3 {
  font-size: var(--heading-3);
}

h4,.h4 {
  font-size: var(--heading-4);
}

p {
  margin: 0 0 1rem;
}

button, input, optgroup, select, textarea {
  font-size: var(--base-font-size);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
