doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title MHM-HR Applications

    / Fonts
    link rel="preconnect" href="https://fonts.gstatic.com"
    link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet"

    / Styles
    link rel="stylesheet" href="css/normalize.css" media="all"
    link rel="stylesheet" href="css/bootstrap-grid.css" media="all"
    link rel="stylesheet" href="css/chosen.min.css" media="all"
    link rel="stylesheet" href="css/all.css" media="all"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"

  body
    header.header.new-style
      .logo-wrap
        a.logo href="/"
          img id="corporate-logo" src="images/mhm-logo.svg" alt="Corporate logo"

      #application-menu
        a.nav-mobile-opener href="#"
          i class="fas fa-bars"
        div.nav-mobile-overlay
        div.nav-wrap
          a.nav-mobile-close
            i class="fas fa-times"
          span.nav-mobile-logo
            img src="images/mhm-logo.svg" alt="Corporate logo"
          span.nav-title Menu
          ul.nav
            li
              a href="#show-mobile-nav" Dashboardfa sd fa dfasdf asdf asdf
            li
              a href="#show-mobile-nav" Personnel asdf asdfasdf af asdfas dfas f
            li.dropdown.current
              a href="#show-mobile-nav"
                span Applications
                span class="fas fa-chevron-down drop-arrow"
              ul.sub-nav.popup-content
                li
                  a href="/staff/job_applications" Applications
                li
                  a href="/staff/messages" Communication
            li
              a href="/staff/pool_applications" Talent Pool
            li
              a href="/staff/events" Events

      .header-info
        .user-settings.popup-holder
          .user-settings__opener
            i class="fas fa-user-cog"
            span.item-counter 5
          div.popup-content
            span.roles-title
              span.roles-title__label You have
              span.roles-title__roles-number 5 roles
            select class="chosen-select drop-left"
              option Admin
              option Admin

        ul.actions.user-actions
          li
            a.icon.icon-search.js-search-opener href="#"
              i class="fas fa-search"
            div.search-drop.js-search-drop
              form
                div.search-drop__content
                  div.search-drop__input-wrap
                    i class="fas fa-search search-drop__field-icon"
                    input type="text" placeholder="Search" class="search-drop__text-field"
                    button.search-drop__submit
                      i class="fas fa-chevron-down"
                  a.search-drop__close.js-search-opener href="#"
                    i class="fas fa-times"

          li.popup-holder
            a.icon.icon-settings href="#"
              i class="fas fa-cog"
            div.popup-content.popup-content--pos-right.popoup-settings
              h2 Administrations
              ul.settings-menu
                li
                  a href="#" Application form
                li
                  a href="#" Assets
                li
                  a href="#" Configutation Import/Export
                li
                  a href="#" Custom value
                li
                  a href="#" Process duration
                li
                  a href="#" Publication Channels
                li
                  a href="#" Question Categories
                li
                  a href="#" Question
                li
                  a href="#" Security logs
                li
                  a href="#" System Configuration
                li
                  a href="#" Templates
                li
                  a href="#" User Translations
                li
                  a href="#" Users
          li
            a.icon.icon-notifications href="#"
              i class="far fa-bell"
              span.item-counter 5
          li
            a.icon.icon-notifications href="#"
              i class="fas fa-question"

        .user-logo.popup-holder
          div.user-logo__text DR
          div class="popup-content popup-content--pos-right user-popup"
            div.user-popup__header
              span.user-popup__brand-name MHMeRECRUTING
              span.user-popup__user-name Prof. Dr. Hg. Admin. Admin
              div.lang-select
                a href="#" class="active-language" DE
                a href="#" ENG
            hr
            div.user-popup__row
              a.user-popup__link href="#"
                span.user-popup__link-icon
                  i class="far fa-user-circle"
                span.user-popup__link-title Profile
            div.user-popup__row
              a.user-popup__link href="#"
                span.user-popup__link-icon
                  i class="fas fa-cog"
                span.user-popup__link-title Settings
            hr
            div.user-popup__row
              a.user-popup__link href="#"
                span.user-popup__link-icon
                  i class="fas fa-sign-out-alt"
                span.user-popup__link-title Log out
              span.user-popup__log-counter 18 min

    main.main
      div class="intro-info new-style fix-horizontal"
        div class="content-holder"
          span.intro-info__page-title
            i class="fas fa-address-card"
            h1 Bewerbungen Bewerbungen Bewerbungen Bewerbungen (382)
          .intro-actions-col
            .intro-actions
              ul
                li
                  a class="detail" title="Details" href="/staff/job_applications/27"
                    img src="images/icons/list-view.svg"
                li
                  a class="reminder" title="Reminder" href="/staff/reminders/new?id=27&amp;type=job_applications%2Fstandard"
                    i class="fas fa-stopwatch"
              .h_ml-24
                a class="edit btn btn-outline-light" title="Edit" href="/staff/job_applications/27/edit"
                  span.icon
                    i class="fas fa-pen"
                  span.text Edit Profile
              .transitions-menu.h_ml-16
                a class="actions-opener toggle-link btn btn-primary" href="#"
                  span.icon
                    i class="fas fa-chevron-down d-none d-md-block"
                    i class="fas fa-plus d-block d-md-none"
                  span.text Actions
                .transitions-menu__dropdown.popup-content
                  .transition-sections
                    h2 Status
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-times"
                          span.text Reject
                      li
                        a href="#"
                          span.icon
                            i class="far fa-envelope"
                          span.text Send E-Mail to applicant
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-user-edit"
                          span.text Mass tagging
                    hr
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="far fa-user-circle"
                          span.text Request manager review
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-redo"
                          hone-alt
                          span.text Revise review
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-microphone-alt"
                          span.text Create interview
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-plus"
                          span.text Invite to assessment center
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-file-contract"
                          span.text Offer contract
                    hr
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="far fa-plus-square"
                          span.text Create talent pool application
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-retweet"
                          span.text Rehang
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-reply"
                          span.text Retract application

                    h2 Council review
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-times"
                          span.text Unlist as competitor

                    h2 Requested documents
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-upload"
                          span.text Upload documents

                    h2 Disabilities
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="far fa-minus-square"
                          span.text Remove as Competitor

                    h2 Feedback
                    ul.transitions-menu__group
                      li
                        a href="#"
                          span.icon
                            i class="fas fa-plus"
                          span.text New

      .content-section
        .content-box
          p some example content
          p some example content
    footer.footer
      div.footer-content
        div.footer-logo-wrap
          a target="_blank" class="footer-logo" href="#"
            img src="images/mhm-logo2.svg" alt="Logo small"
          ul.footer-main-links
            li
              a href="#" MHM Systemhaus Gmbh
            li
              a href="#" Impressum
        div.footer-additional-info
          span.app-version v.9.28.12
      span.copyright-text &copy; Copyright 2021



    script src="js/jquery-3.6.0.min.js"
    script src="js/application-menu.js"
    script src="js/tabs.js"
    script src="js/chosen.jquery.min.js"
    script src="js/chosen-init.js"
    script src="js/search.js"
    script src="js/applicants-table.js"
    script src="js/applicants-filter.js"
    script src="js/popups.js"
