// Footer
.footer {
  background: var(--white-color);
  border-top: 1px solid var(--border);
  padding: 34px 93px 24px 38px;
  
  .footer-logo-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    width: 80px;
    margin-right: 30px;
    padding-top: 4px;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .copyright-text {
    display: block;
    text-align: center;
    color: var(--text-secondary);
  }
  
  @include mq($until: tablet) {
    padding: 34px 15px 24px;
    
    .footer-logo-wrap {
      margin-bottom: 10px;
    }
    
    .copyright-text {
      font-size: var(--base-font-size-small);
    }
    
    .footer-logo {
      margin-right: 15px;
    }
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  
  @include mq($until: tablet) {
    display: block;
    margin-bottom: 25px;
  }
}

.footer-additional-info {
  margin-left: auto;
  
  @include mq($until: tablet) {
    text-align: center;
  }
}

.footer-main-links {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 0 0;
  font-size: var(--base-font-size-large);
  line-height: 1.5;
  
  a {
    transition: all 0.3s;
    
    &:hover {
      color: var(--info-color);
    }
  }
}
