html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: var(--background-secondary);
    border-radius: 3px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--info-color);
    border-radius: 3px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: var(--info-color);
  }
  
  scroll-padding: 0 20px 0 0;
}
