.rd-content-search {
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--new-bg-color);
    border-radius: var(--input-border-radius);
    position: relative;
  }
  
  &__text {
    display: block;
    flex: 1 0 0;
    border: 0;
    height: 34px;
    padding: 0 45px 0 10px;
    background: none;
  }
  
  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    color: var(--text-secondary);
    font-size: var(--base-font-size-small);
  }
}
