.docs-list {
  @extend %listreset;
  font-size: var(--base-font-size-small);
  line-height: 1.3333;
  
  li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__title {
    flex: 1 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-secondary);
    min-width: 0;
  }
  
  &__size {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-left: 6px;
    color: var(--text-secondary);
  }
}
