.pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 18px 0;
  
  @include mq($until: desktop) {
    display: block;
  }
}

.pagination-row {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 24px;
  
  &:last-child {
    margin-right: 0;
  }
  
  &__label {
    margin-right: 8px;
  }
  
  .text-field {
    width: 56px;
  }
  
  @include mq($until: tablet) {
    margin: 0 15px 10px 0;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

button.pagination__item {
  min-width: 32px;
  height: 32px;
  background: var(pagination-item-bg);
  border-radius: var(--btn-border-radius);
  border: 0;
  cursor: pointer;
  margin: 0 4px;
  padding: 0 4px;
  text-align: center;
  
  &.active,
  &:hover {
    background: var(--info-color);
    color: var(--white-color);
  }
}

span.pagination__item {
  width: 16px;
  margin: 0 4px;
  text-align: center;
}

.category-select {
  width: 250px;
  
  .chosen-container {
    width: 100% !important;
  }
  
  @include mq($until: desktop) {
    margin-bottom: 16px;
  }
  
}
