.user-popup {
  transform: translate(0, 12px);
  width: 290px;

  &__header {
    position: relative;
    padding-right: 60px;
    margin-bottom: 12px;
  }

  &__brand-name {
    text-transform: none;
    display: block;
    font-size: var(--base-font-size);
    line-height: 1.7242;
    color: #27406A;
  }

  &__user-name {
    text-transform: none;
    display: block;
    font-weight: 600;
    font-size: var(--base-font-size-small);
    line-height: 1.6666;
    color: var(--info-color);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__link {
    flex: 1 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-icon {
      width: 20px;
      margin-right: 10px;
      font-size: var(--base-font-size-xx-large);
      color: var(--info-color);
    }

    &-title {
      text-transform: initial;
      font-size: var(--base-font-size);
      line-height: 1.7142;
      color: var(--text-lighten);
    }
  }

  &__log-counter {
    font-size: var(--base-font-size);
    line-height: 1.7142;
    color: var(--text-lighten);
    opacity: 0.7;
  }
}